@namespace Badaboom.Client.Shared.Filters
@inherits MethodsFilteringBase;

@if (ContractAbiJSON != null)
{
    <h3>MethodsFiltering with arguments</h3>
}
else
{
    <h3>MethodsFiltering with arguments</h3>

}

