.circle {
    width: 38px;
    height: 38px;
    background: #6772E5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.oval {
    width: 29px;
    height: 27px;
    background: #453FC8;
    border-radius: 30px;
}

.rectangle {
    width: 119px;
    height: 31px;
    background: #6772E5;
    border-radius: 15.5px;
    text-align: center;
}

.main-card {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 5px 4px 1px #E1E8EF;
    border-radius: 15.5px;
    height: 250px;
    max-height: 250px;
}

.second-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 150px;
    max-height: 250px;
}

.b-main, .b-secondary {
    box-shadow: 0px 6px 4px 2px #E1E9F0;
    border-radius: 6px;
    font-size: 20px;
}

.b-main {
    background: #6773E5;
    color: #FFFFFF;
}

.b-secondary {
    background: #FFFFFF;
    color: #6773E5;
}