@page "/login"

<div class="col-md-8 col-sm-12 mt-5 center">
    <div class="card-main">
        <label class="f-bold f-s-35 text-clr-dark center mt-3">Connect to your future</label>

        <div class="card-body text-center" >

            @if (!HasMetaMask)
            {
                <div class="alert-main" role="alert">
                    No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.
                </div>
            }
            else if (string.IsNullOrEmpty(SelectedAddress))
            {
                <button class="btn b-secondary b-clr-secondary round-30 text-clr-light col-md-8 col-sm-12 mt-4 mb-1"
                        @onclick="ConnectMetaMask">
                    Login via Metamask
                </button>
            }
            else
            {
                <div class="alert-main text-truncate text-truncate pl-3 pr-3" role="alert">
                    Address: @SelectedAddress
                </div>
                <button class="btn b-secondary b-clr-secondary round-30 text-clr-light col-md-8 col-sm-12 mt-4 mb-1"
                        disabled="@Loading"
                        @onclick="LoginOnServer">
                    @if (Loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1 mb-1"></span>
                    }
                    Login
                </button>
            }

        </div>
    </div>
</div>